@{
    ViewBag.Title = "ShowUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using CentroMedicoQuirurgico.Models.Entity.Admin;
@model Tuple<ResponseAdminUserList, RequestAdminUser, ResponseAdminUserDetail, ResponseAdminUser>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Usuarios</h2>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
           <!-- Id de usuario -->
            <div class="row" style="display: none">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Item2.id)
                        @Html.TextBoxFor(model => model.Item2.id, new { @class = "form-control", @required = "", @readonly="" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Item2.idPerson)
                        @Html.TextBoxFor(model => model.Item2.idPerson, new { @class = "form-control", @required = "", @readonly="" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Item2.profession)
                        @Html.TextBoxFor(model => model.Item2.profession, new { @class = "form-control", @required = "", @readonly="" })
                    </div>
                </div>
            </div>
        
            <!-- Primera Fila Datos -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Item2.firstName)
                        @Html.TextBoxFor(model => model.Item2.firstName, new { @class = "form-control", @readonly="" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Item2.secondName)
                        @Html.TextBoxFor(model => model.Item2.secondName, new { @class = "form-control", @readonly="" })
                    </div>
                </div>
            </div>
            <!-- Segunda Fila Datos -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Item2.firstLastName)
                        @Html.TextBoxFor(model => model.Item2.firstLastName, new { @class = "form-control", @readonly="" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Item2.secondLastName)
                        @Html.TextBoxFor(model => model.Item2.secondLastName, new { @class = "form-control", @readonly="" })
                    </div>
                </div>
            </div>
            <!-- Tercera Fila Datos -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Item2.dateBorn)
                        @Html.TextBoxFor(model => model.Item2.dateBorn, "{0:yyyy-MM-dd}",new { @class = "form-control", @type = "Date", @readonly="" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Item2.idRole)
                        @Html.DropDownListFor(model => model.Item2.idRole, Model.Item1.lstRole, new { @class = "form-control", @readonly="" })
                    </div>
                </div>
            </div>
            <!-- Cuarta Fila Datos -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Item2.loginName)
                        @Html.TextBoxFor(model => model.Item2.loginName, new { @class = "form-control", @readonly="" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Item2.personalKey)
                        @Html.TextBoxFor(model => model.Item2.personalKey, new { @class = "form-control", @type = "Password", @readonly="" })
                    </div>
                </div>
            </div>
            <!-- Quinta Fila Datos -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Item2.typeDocument)
                        @Html.DropDownListFor(model => model.Item2.typeDocument, Model.Item1.lstTypeDocument, new { @class = "form-control", @readonly="" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Item2.document)
                        @Html.TextBoxFor(model => model.Item2.document, new { @class = "form-control", @readonly="" })
                    </div>
                </div>
            </div>
            <!-- Sexta Fila Datos -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Item2.homeAddress)
                        @Html.TextAreaFor(model => model.Item2.homeAddress, new { @class = "form-control", @readonly="" })
                    </div>
                </div>
            </div>
            <!-- Septima Fila Datos -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Item2.movilPhone1)
                        @Html.TextBoxFor(model => model.Item2.movilPhone1, new { @class = "form-control", @type = "Tel", @readonly="" })
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Item2.movilPhone2)
                        @Html.TextBoxFor(model => model.Item2.movilPhone2, new { @class = "form-control", @type = "Tel", @readonly="" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Item2.stateRecord)
                        @Html.DropDownListFor(model => model.Item2.stateRecord, Model.Item2.getLstState(), new { @class = "form-control", @readonly="" })
                    </div>
                </div>
            </div>
        
        
            <div class="modal-footer">
                <a href="/Admin/User" class="btn btn-outline-danger">Regresar</a>
            </div>
    </div>
</div>
